<div class="cpred-bf-card">
  <div class="card-header">
    {{#if actorImg}}<img src="{{actorImg}}" alt="{{actorName}}" />{{/if}}
    <h3>Three-Arm Strike</h3>
  </div>
  <div class="card-body">
    {{#if rollTotal}}
    <div class="roll-block">
      {{#if rollBreakdown}}
      <div class="roll-breakdown">{{rollBreakdown}} = <strong>{{rollTotal}}</strong></div>
      {{/if}}
      <div class="roll-die {{#if isCritSuccess}}crit-success{{/if}}{{#if isCritFail}}crit-fail{{/if}}">
        <span class="die-face">{{dieResult}}</span>
        {{#if isCritSuccess}}<span class="crit-label">CRIT!</span>{{/if}}
        {{#if isCritFail}}<span class="crit-label">FUMBLE!</span>{{/if}}
        {{#if isCrit}}
        <span class="crit-extra">{{#if isCritSuccess}}+{{else}}&minus;{{/if}} {{critRoll}}</span>
        {{/if}}
      </div>
      <div class="dv-check success">
        {{rollTotal}} vs DV{{dv}} &mdash; <strong>Success!</strong>
      </div>
    </div>
    {{/if}}

    <p>Choose one effect:</p>

    <div class="card-buttons">
      <button data-action="cpred-bf-three-arm-option"
              data-actor-id="{{actorId}}"
              data-target-id="{{targetId}}"
              data-option="grapple">
        Grapple / End Grapple
      </button>
      <button data-action="cpred-bf-three-arm-option"
              data-actor-id="{{actorId}}"
              data-target-id="{{targetId}}"
              data-option="extraAttack">
        Extra Attack (Claw or Jaw)
      </button>
      <button data-action="cpred-bf-three-arm-option"
              data-actor-id="{{actorId}}"
              data-target-id="{{targetId}}"
              data-option="criticalInjury">
        Random Body Critical Injury
      </button>
      <button data-action="cpred-bf-three-arm-option"
              data-actor-id="{{actorId}}"
              data-target-id="{{targetId}}"
              data-option="reduceSP">
        Reduce Target Armor SP by 4
      </button>
    </div>
  </div>
</div>
